* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ! VARIABLES */
:root {
  --darkblue: #0c134f;
  --midblue: #1d267d;
  --midpurple: #5c469c;
  --lightpurple: #d4adfc;
}

body {
  background-color: var(--darkblue);
  font-family: Arial, Helvetica, sans-serif;
  color: var(--lightpurple);
}

nav {
  text-align: center;
  margin: 5vw auto;
}

nav .logo {
  border: 1px solid var(--lightpurple);
  border-radius: 10px;
  color: var(--lightpurple);
  margin: 5px auto;
  width: 50px;
  padding: 2px;
  font-weight: 700;
}

section.main-section {
  display: flex;
}

.info-skill-container {
  display: flex;
  flex-direction: column;
  margin-left: 5vw;
}

.info-container {
  padding: 1rem;
  margin-bottom: 2rem;
}

.info-container .name {
    margin-bottom: 10px;
    font-size: 5rem;
}

.skills-container {
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
}

h2 {
  text-align: center;
}

p.title {
  font-size: 2.5rem;
}

p.focused-areas {
  font-size: 1.5rem;
}

.skills-container p {
  font-size: 1.1rem;
  padding: 4px;
  margin: 5px;
  border-radius: 50% 20% / 10% 40% !important;
  border: 2px solid;
  border-image: linear-gradient(to right, var(--lightpurple), var(--midpurple))
    1;
}

.summary-contact-container {
  margin-right: 4vw;
  margin-top: 2vw;
}

.summary {
  margin: auto;
  font-size: 1.1rem;
  line-height: 1.5rem;
}


.contact {
    height: 2rem;
    margin-top: 10%;
    text-align: center;
}
