* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ! VARIABLES */
:root {
  --darkblue: #0c134f;
  --midblue: #1d267d;
  --midpurple: #5c469c;
  --lightpurple: #d4adfc;
}

body {
  background-color: var(--darkblue);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: var(--lightpurple);
}

nav {
  text-align: center;
  margin: 10vw auto;
}

nav .logo {
  border: 1px solid var(--lightpurple);
  border-radius: 10px;
  color: var(--lightpurple);
  margin: 5px auto;
  width: 50px;
  padding: 2px;
  font-weight: 700;
}

section.main-section {
  display: flex;
}

.info-skill-container{
    display: flex;
    flex-direction:column;
}

.info-container {
  padding: 1rem;
}

.skills-container {
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
}

h1 {
  font-size: 5rem;
}

h2{
    text-align: center;
    
}

p.title {
  font-size: 2.5rem;
}

p.focused-areas {
  font-size: 1.5rem;
}

.rounded-skill-gradient {
  padding: 1px;
  margin: 5px;
  border-radius: 50% 20% / 10% 40%;
  border-width: 2px;
  border-style: solid;
  border-image: linear-gradient(to right, var(--lightpurple), var(--midpurple))
    1;
}

.summary{
    margin: auto;
}
